[submodule "third_party/parse"]
	path = third_party/parse
	url = https://github.com/mdy-docs/parse.git
[submodule "third_party/nisaba-db"]
	path = third_party/nisaba-db
	url = https://github.com/mdy-docs/nisaba-db.git
[submodule "third_party/lamassu-js"]
	path = third_party/lamassu-js
	url = https://github.com/mdy-docs/lamassu-js.git
